{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>My Django Blog</title>
    <link type="text/css" rel="stylesheet" href="{% static 'django_blog.css' %}">
  </head>
  <body>
    <div id="header">
        <ul id="control-bar">
        {% if user.is_authenticated %}
          <!-- admin link -->
          <a href="{% url 'admin:index' %}">admin</a>
          <!-- logout link -->
          <a href="{% url 'logout' %}">logout</a>
          <!-- login link -->
          <a href="{% url 'login' %}">login</a>
        {% endif %}
        </ul>
    </div>
    <div id="container">
      <div id="content">
      {% block content %}{% endblock %}
      </div>
      <div id="user_input">
        <a class="uinput_button" href="/post/add/">Add Post</a>
        <a class="REST_button" href="/api">REST api</a>
      </div>
    </div>
  </body>
</html>